.title {
	font-size: 30px;
	font-weight: 300;
}

.verfy-title {
	font-size: 35px;
	font-weight: 30px;
	margin-bottom: 20px; 
	text-align: center;
}

.img {
	height:35px;
}

.verify-button {
	margin-top: 20px;
	text-align: center;
}

.content {
	margin-top: 100px;
}
